@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    
}
.mainpage{
    background-color: #1F2937;
}
.header{
    padding: 0 30px;
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul{
    display: flex;
    gap: 10px;
}
.header ul li{
    list-style: none;
}
.header ul a{
    color: white;
    text-decoration: none;
}
.content{
    background-color: #1F2937;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding: 50px;
}
.imgplaceholder{
    width: 600px;
    background-color: gray;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.left h1{
    font-size: 60px;
    margin-bottom: 30px;
    color: white;
}
.left p {
    margin-bottom: 30px;
    color: white;
}
.left button{
    width: 80px;
    height: 35px;
    color: blanchedalmond;
    background-color: #3882F6;
    border: none;
    border-radius: 12%;
}
h2{
    margin-top: 30px;
    text-align: center;
}
.imgcontainer{
    display: flex;
    margin: 30px;
    justify-content: space-between;
    padding: 0 100px;
}
.card{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    
}
.cardimg{
    background-color: #686868;
    border-width: 20px;
    border-radius: 10%;
    border-color: #3882F6;
    width: 50%;
    height: 50%;
}
.quote{
    background-color: #E5E7EB;
    padding: 20px 300px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.quote p{
    font-size: 20px;
}
.footer{
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}
.btncontainer{
    padding: 30px 200px;
}
.ctacontainer{
    border-radius: 1%;
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
.signup{
    padding: 5px;
    width: 70px;
    color: white;
    background-color: #3882F6;
    border-color: white;
    border-radius: 5%;

}